In [110]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [111]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [112]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk
from sklearn.preprocessing import StandardScaler

In [115]:
labNome = ['Sexo']
labNum = ['Comprimento','Diametro','Altura','Peso total','Peso sem casca','Peso das visceras','Peso da casca']
xlabels = labNome + labNum

labTarget = ['Aneis']

path = '../data/abalone.csv'

columns = labNome + labNum + labTarget

dataFrame = pd.read_csv(path, sep=',', names=columns)

dataFrame[labTarget] = dataFrame[labTarget].astype(float)
dataFrame[labNum] = dataFrame[labNum].astype(float)
dataFrame[labNome] = dataFrame[labNome].astype(str)

x = dataFrame.drop('Aneis', axis=1)  # Matriz de caracter√≠sticas

y = dataFrame['Aneis']  # Vetor de classes

,Comprimento,Diametro,Altura,Peso total,Peso sem casca,Peso das visceras,Peso da casca,Aneis
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

# Tratamento de dados

In [114]:
x = pd.get_dummies(x, columns=['Sexo'])

X_scaled = pd.DataFrame(data=x, columns=xlabels)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_scaled)

c:\Python39\lib\site-packages\sklearn\utils\extmath.py:1047: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Python39\lib\site-packages\sklearn\utils\extmath.py:1052: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Python39\lib\site-packages\sklearn\utils\extmath.py:1072: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count